<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript">
        $(function(){
           $(".close").click(function(){
              $("#myAlert").alert();
           });
        });  
        </script> 
    {% block head %}{% endblock %}
</head>

<body>
    {% include 'includes/navigation.html' %}
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div id="myAlert" class="alert alert-{{category}} alert-dismissible fade show text-center">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            {{message}}
        </div>
        {% endfor %} {% endif %} {% endwith %}
        <div id="content">
            {% block content %}{% endblock %}
          </div>
    </div>
</body>

</html>