<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/footer.css">
</head>

<body>
    <div class="footer-distributed">

        <div class="footer-right">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

        <div class="footer-left">

            <p class="footer-links">
                <a class="link-1" href="/">Home</a>

                <a href="/about">About</a>

                <a href="/cfc">CFC</a>

                <a href="/contact">Contact</a>

                <a href="/loginUser">Sign In</a>

                <a href="/registerUser">Sign Up</a>
            </p>

            <p>Carbon Emission FOOTPRINT &copy; 2023</p>
        </div>

    </div>
</body>

</html>