{% extends './layouts/base.html'%}
{% block title %}CFC{% endblock %}

{% block head %}
{{ super() }}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="https://fonts.cdnfonts.com/css/muli" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"
    integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
    integrity="sha512-rRQtF4V2wtAvXsou4iUAs2kXHi3Lj9NE7xJR77DE7GHsxgY9RTWy93dzMXgDIG8ToiRTD45VsDNdTiUagOFeZA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../static/css/cfc.css">
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="wizard-v2-content">

        <div class="wizard-form">
            <div class="wizard-header">
                <h3>CARBON FOOTPRINT CALCULATOR</h3>
                <p>Carbon Footprint Calculator For Individuals And Households</p>
            </div>
            <form class="form-register" action="cfc" method="post">
                <div id="form-total">
                    <!-- SECTION 1 -->
                    <h2>Home Energy</h2>
                    <section>
                        <!--  -->
                        <button class="btn btn-primary headerbtn" type="button" data-toggle="collapse"
                            data-target="#currHome" aria-expanded="true" aria-controls="currHome">Heating</button>
                        <div class="row">
                            <div class="collapse multi-collapse" id="currHome">
                                <div class="inner">
                                    <div class="form-row">
                                        <div class="form-holder">
                                            <div class="card card-body">
                                                What is your household's primary heating source?
                                            </div>
                                        </div>
                                        <div class="form-holder">
                                            <select name="type" id="type" class="form-control" required>
                                                <option value="" disabled selected>Choose A Resource</option>
                                                <option value="Natural Gas">Natural Gas</option>
                                                <option value="Electricity">Electricity</option>
                                                <option value="Fuel Oil">Fuel Oil</option>
                                                <option value="Propane">Propane</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary headerbtn" type="button" data-toggle="collapse"
                            data-target="#resources" aria-expanded="true" aria-controls="currHome">Utility</button>
                        <div class="row">
                            <div class="collapse multi-collapse" id="resources">
                                <div class="inner">
                                    <div class="form-row">
                                        <p><em>Enter your average monthly bill or other data for each source of energy
                                                your household uses</em></p>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-holder">
                                            <div class="card card-body">
                                                Natural Gas
                                                <input type="number" name="gas" id="gas" class="gas-input" min="0"
                                                    oninput="this.value = Math.abs(this.value)" required>
                                                <select name="gas_type" id="gas_type" class="form-control gas-input">
                                                    <option value="Thousand Cubic Feet" selected>Thousand Cubic Feet
                                                    </option>
                                                    <option value="Therm">Therm</option>
                                                    <option value="Dollars">Dollars</option>
                                                </select>
                                                <div class="output">
                                                    <span id="gasEm">0.00</span> lbs
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-holder">
                                            <div class="card card-body">
                                                Electricity
                                                <input type="number" name="electricity" id="electricity"
                                                    class="electricity-input" min="0"
                                                    oninput="this.value = Math.abs(this.value)" required>
                                                <select name="elec_type" id="elec_type"
                                                    class="form-control electricity-input">
                                                    <option value="kWh">kWh</option>
                                                    <option value="Dollars">Dollars</option>
                                                </select>
                                                <div class="output">
                                                    <span id="electricityEm">0.00</span> lbs
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-holder">
                                            <div class="card card-body">
                                                Fuel Oil
                                                <input type="number" name="oil" id="oil" class="oil-input" min="0"
                                                    oninput="this.value = Math.abs(this.value)" required>
                                                <select name="oil_type" id="oil_type" class="form-control oil-input">
                                                    <option value="Gallons">Gallons</option>
                                                    <option value="Dollars">Dollars</option>
                                                </select>
                                                <div class="output">
                                                    <span id="oilEm">0.00</span> lbs
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-holder">
                                            <div class="card card-body">
                                                Propane
                                                <input type="number" name="propane" id="propane" class="propane-input"
                                                    min="0" oninput="this.value = Math.abs(this.value)" required>
                                                <select name="propane_type" id="propane_type"
                                                    class="form-control propane-input">
                                                    <option value="Gallons">Gallons</option>
                                                    <option value="Dollars">Dollars</option>
                                                </select>
                                                <div class="output">
                                                    <span id="propaneEm">0.00</span> lbs
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                    </section>
                    <!-- SECTION 2 -->
                    <h2>Transportation</h2>
                    <section>
                        <button class="btn btn-primary headerbtn" type="button" data-toggle="collapse"
                            data-target="#currTransportation" aria-expanded="true"
                            aria-controls="currTransportation">Vehicles</button>
                        <div class="row">
                            <div class="collapse multi-collapse" id="currTransportation">
                                <div class="inner">
                                    <div class="form-row">
                                        <div class="form-holder">
                                            <div class="card-body">
                                                How many vehicles does your household have?
                                            </div>
                                        </div>
                                        <div class="form-holder">
                                            <select name="vehicleNum" id="vehicleNum" class="form-control" required>
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary headerbtn" type="button" data-toggle="collapse"
                            data-target="#maintenance" aria-expanded="true" aria-controls="currTransportation">Current
                            Maintenance</button>
                        <div class="row">
                            <div class="collapse multi-collapse" id="maintenance">
                                <div class="inner">
                                    <div class="form-row">
                                        <div class="form-holder">
                                            <div class="card-body">
                                                Do you perform regular maintenance?
                                            </div>
                                        </div>
                                        <div class="form-holder">
                                            <select name="vehicle_type" id="vehicle_type" class="form-control" required>
                                                <option value="Choose One" disabled selected>Choose One</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary headerbtn" type="button" data-toggle="collapse"
                            data-target="#details" aria-expanded="true" aria-controls="currTransportation">Vehicle
                            Details</button>
                        <div class="row">
                            <div class="collapse multi-collapse" id="details">
                                <div id="vehiclePanel" class="inner">
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- SECTION 3 -->
                    <h2>Waste</h2>
                    <section>
                        <button class="btn btn-primary headerbtn" type="button" data-toggle="collapse"
                            data-target="#currWaste" aria-expanded="true" aria-controls="currWaste">Current Emissions
                            From Waste</button>
                        <div class="row">
                            <div class="collapse multi-collapse" id="currWaste">
                                <div class="inner">
                                    <div class="form-row">
                                        <h5>Waste</h5>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-holder">
                                            <div class="card-body cap">
                                                <strong>Average waste emissions:</strong>
                                            </div>
                                        </div>
                                        <div class="form-holder">
                                            <div class="card-body waste">
                                                <strong>{{waste_emissions}} lbs</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <p><em>Which of the following products do you currently recycle in your
                                                household?</em></p>
                                    </div>
                                    <div class="form-row">
                                        <label><input type="checkbox" name="aluminium" id="aluminium" value="aluminium">
                                            aluminium and
                                            steel cans</label>
                                    </div>
                                    <div class="form-row">
                                        <label><input type="checkbox" name="plastic" id="plastic" value="plastic">
                                            plastic</label>
                                    </div>
                                    <div class="form-row">
                                        <label><input type="checkbox" name="glass" id="glass" value="glass">
                                            glass</label>
                                    </div>
                                    <div class="form-row">
                                        <label><input type="checkbox" name="newspaper" id="newspaper" value="newspaper">
                                            newspaper</label>
                                    </div>
                                    <div class="form-row">
                                        <label><input type="checkbox" name="magazines" id="magazines" value="magazines">
                                            magazines</label>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-holder">
                                            <div class="card-body cap">
                                                <strong> Your total waste emissions after recycling:</strong>
                                            </div>
                                        </div>
                                        <div class="form-holder">
                                            <div class="card-body waste">
                                                <strong>{{waste_emissions}} lbs</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary" type="submit">Submit</button>

                    </section>
                </div>
            </form>
        </div>
        <div class="total">
            <h4>Your Carbon Footprint</h4>
            <p>Annual CO2 emissions (lbs.) </p>
            <hr>
            <h4>Your Current Total:</h4>
            <h4 id="total-em" class="amount">0.00</h4>
            <h4>Vehicles Total</h4>
            <h4 id="veh-em" class="amount">0.00</h4>
            <h4>U.S. Average*:</h4>
            <h4 class="amount">26,793</h4>
        </div>
    </div>
</div>
<!--  -->

<!--  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    integrity="sha512-+NqPlbbtM1QqiK8ZAo4Yrj2c4lNQoGv8P79DPtKzj++l5jnN39rHA/xsqn8zE9l0uSoxaCdrOgFs6yjyfbBxSg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.js"
    integrity="sha512-gH0SqyjTN7WJAtki1UvqOkhWi3WsF9LY05BMwdcSq6QdFDXrXeXy0q8iP0YmBXCqo7OnSgdIPrC5Vqn8/KRu/Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
    integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../static/js/cfc.js"></script>
{% endblock %}