{% extends './layouts/base.html'%}
{% block title %}Login{% endblock %}
{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
    integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/css/login-signup.css">
{% endblock %}
{% block content %}
<div class="login-wrap">
    <div class="login-html">
        {% if mode == "Signup" %}
        <input id="tab-1" type="radio" name="tab" class="sign-in"><label for="tab-1" class="tab">Sign
            In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Sign
            Up</label>
        {% elif mode == "Login" %}
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign
            In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        {% endif %}
        <div class="login-form">
            <form action="registerUser" method="post" class="sign-up-htm">
                {{ form.csrf_token }}
                <div class="group">
                    <label for="user" class="label">Username</label>
                    {{form.username(class="input")}}
                </div>
                <div class="group">
                    <label for="pass" class="label">Password</label>
                    {{form.password(class="input")}}
                </div>
                <div class="group">
                    <label for="pass" class="label">Confirm Password</label>
                    {{form.confirmPassword(class="input")}}
                </div>
                <div class="group">
                    <label for="pass" class="label">Email Address</label>
                    {{form.email_address(class="input")}}
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Sign Up">
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <label for="tab-1">Already a Member?</a>
                </div>
            </form>
            <form action="loginUser" method="post" class="sign-in-htm">
                <div class="group">
                    <label for="user" class="label">Email</label>
                    <input id="user" name="email" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label">Password</label>
                    <input id="pass" name="password" type="password" class="input" data-type="password">
                </div>

                <div class="group">
                    <input type="submit" class="button" value="Sign In">
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <label for="">Forgot Password?</label>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}